<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.nopattern.cordova.brightcoveplayer"
    version="0.0.1">
    <name>BrightcovePlayerPlugin</name>
    <description>Brightcove Native Player for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,Brightcove,Player</keywords>

  <js-module src="www/player.js" name="player">
    <clobbers target="cordova.plugins.BrightcovePlayerPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BrightcovePlayerPlugin">
        <param name="android-package" value="net.nopattern.cordova.brightcoveplayer.BrightcovePlayerPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="application">
      <activity
          android:name="net.nopattern.cordova.brightcoveplayer.BrightcoveActivity"
          android:label="@string/app_name" >
      </activity>
    </config-file>

    <source-file src="src/android/BrightcovePlayerPlugin.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/BrightcoveActivity.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/android-sdk-4.2.7.jar" target-dir="libs" />
    <source-file src="res/layout/bundled_video_activity_brightcove.xml" target-dir="res/layout" />
    <source-file src="res/raw/shark.mp4" target-dir="res/raw" />
  </platform>

</plugin>
