<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.nopattern.cordova.brightcoveplayer"
    version="1.0.0">
    <name>BrightcovePlayerPlugin</name>
    <description>Brightcove Native Player for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,Brightcove,Player</keywords>

  <js-module src="www/player.js" name="player">
    <clobbers target="cordova.plugins.BrightcovePlayerPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <dependency id="com.google.playservices@19.0.0" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BrightcovePlayerPlugin">
        <param name="android-package" value="net.nopattern.cordova.brightcoveplayer.BrightcovePlayerPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="application">
      <meta-data
          android:name="com.google.android.gms.version"
          android:value="@integer/google_play_services_version" />
      <activity
          android:name="net.nopattern.cordova.brightcoveplayer.BrightcoveActivity"
          android:configChanges="orientation|screenSize"
          android:screenOrientation="landscape"
          android:launchMode="singleTask"
          android:label="@string/app_name" >
      </activity>
    </config-file>

    <!-- src -->
    <source-file src="src/android/BrightcovePlayerPlugin.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/BrightcoveActivity.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />

    <!-- libs -->
    <source-file src="src/android/libs/android-brightcove-sdk-4.2.7.jar" target-dir="libs" />
    <source-file src="src/android/libs/android-brightcove-ima-plugin-4.2.7.jar" target-dir="libs" />
    <source-file src="src/android/libs/ima-android-sdk-beta5.jar" target-dir="libs" />

    <!-- layout -->
    <source-file src="src/android/res/layout/bundled_video_activity_brightcove.xml" target-dir="res/layout" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BrightcovePlayerPlugin">
        <param name="ios-package" value="BrightcovePlayerPlugin" onload="true" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
      <false/>
    </config-file>

    <!-- src -->
    <header-file src="src/ios/BrightcovePlugin.h" />
    <source-file src="src/ios/BrightcovePlugin.m" />

    <header-file src="src/ios/BrightcovePluginViewController.h" />
    <source-file src="src/ios/BrightcovePluginViewController.m" />

    <resource-file src="src/ios/BrightcovePlugin.storyboard" />

    <!-- libs -->
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVAdvertising.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVBasicSessionProvider.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVCatalogConstants.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVCatalogService.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVCuePoint.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVCuePointCollection.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVCuePointProgressPolicy.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVMediaRequestFactory.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlaybackController.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlaybackService.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlaybackServiceRequestFactory.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlaybackSession.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlaybackSessionProvider.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlayerSDK.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlayerSDKManager.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVPlaylist.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVSource.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/BCOVVideo.h" />
    <header-file src="src/ios/libs/BrightcoveSDK/Headers/NSDictionary+BCOVURLSupport.h" />
    <source-file src="src/ios/libs/BrightcoveSDK/Library/libBCOVPlayerSDK.a" framework="true" compiler-flags="-ObjC"  />

    <header-file src="src/ios/libs/BrightcoveIMA/Headers/BCOVIMA.h" />
    <header-file src="src/ios/libs/BrightcoveIMA/Headers/BCOVIMAAdsRequestPolicy.h" />
    <header-file src="src/ios/libs/BrightcoveIMA/Headers/BCOVIMAComponent.h" />
    <header-file src="src/ios/libs/BrightcoveIMA/Headers/BCOVIMASessionProvider.h" />
    <source-file src="src/ios/libs/BrightcoveIMA/Library/libBCOVIMA.a" framework="true" compiler-flags="-ObjC"  />

    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAd.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdDisplayContainer.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdError.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdEvent.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdPlaybackInfo.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdPodInfo.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdsLoader.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdsManager.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdsRenderingSettings.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAdsRequest.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAAVPlayerContentPlayhead.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMACompanionAdSlot.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAContentPlayhead.h" />
    <header-file src="src/ios/libs/GoogleIMASDK3/IMAUiElements.h" />
    <source-file src="src/ios/libs/GoogleIMASDK3/libGoogleIMA3.a" framework="true" compiler-flags="-ObjC" />

    <framework src="SystemConfiguration.framework" />
    <framework src="AdSupport.framework" />
  </platform>

</plugin>
